Indexes and Lengths:
             _____ _____ _____ _____ _____ _____
            |  L  |  U  |  T  |  H  |  O  |  R  |
             _____ _____ _____ _____ _____ _____
 Indexes :     0     1     2     3     4     5
 
 Total Length : 6
 
 The index always start from 0 and it runs till the length - 1

# 1. String
- So basically the string is a list of characters, which makes it a data structure as well.
- It is iterable but not mutable(immutable)

In [3]:
# iterable
Name = 'LUTHOR'
print('what is the letter in the {}nd location : {}'.format(2, Name[2]))

what is the letter in the 2nd location : T

In [6]:
# immutable
# intentional error

Name = 'LUTHOR'
Name[1] = 'V'
print('what is letter in the {}th location : {}'.format(1, Name[1]))

TypeError: 'str' object does not support item assignment

#### String functions:

In [9]:
# counts character(s) in the same case.
Name = 'LUTHOR'
print('Count of the entered character',Name.count('Lu')) # LU != Lu != lU

Count of the entered character 0

In [13]:
# checking the case and the character type
Name = 'luthor'
if (Name.islower()):
    print('Lower')
if (Name.isupper()):
    print('Upper')
if (Name.isalpha()):
    print('Alphabet')
if (Name.isalnum()):
    print('Alphabet and numbers')
if (Name.isdigit()):
    print('Numbers')

Lower
Alphabet
Alphabet and numbers

In [15]:
# change the case of the string.
Name = 'LuThOr'
print('Name to Lower case: {}'.format(Name.lower()))
print('Name to Upper case: {}'.format(Name.upper()))
print('Name to Swap case: {}'.format(Name.swapcase()))
print('Name to capatalise case: {}'.format(Name.capitalize()))

Name to Lower case: luthor
Name to Upper case: LUTHOR
Name to Swap case: LUtHoR
Name to capatalise case: Luthor

In [22]:
# substring - extracting part(s) of a string

Sentence = 'Lex Luthor was a villan in the Superman Comics'
print('- First 3 characters: ',Sentence[0:3])
print('- 3 characters starting from 11 all the way to 14: ',Sentence[11:14])
print('- starting from 1 all the way to 14, with a skip 2: ',Sentence[1:14:2])
print('- was in reverse characters:',Sentence[14:10:-1])
print('- reverse the sentence:',Sentence[::-1])

- First 3 characters:  Lex
- 3 characters starting from 11 all the way to 14:  was
- starting from 1 all the way to 14, with a skip 2:  e uhrws
- was in reverse characters:  saw
- reverse the sentence: scimoC namrepuS eht ni nalliv a saw rohtuL xeL

In [29]:
# number of words in a sentence.
Sentence = 'Lex Luthor was a Villan in the Superman Comics'
print('words: ',Sentence.split(' '))
len(Sentence.split(' '))

words:  ['Lex', 'Luthor', 'was', 'a', 'Villan', 'in', 'the', 'Superman', 'Comics']

9

In [30]:
# illustrating the error
Sentence = '_Lex_Luthor_was_a_Villan__in_the__Superman_Comics__'
print('Number of words present :',len(Sentence.split('_')))
print('What does the list of words look like:', Sentence.split('_'))

Number of words present : 14
What does the list of words look like: ['', 'Lex', 'Luthor', 'was', 'a', 'Villan', '', 'in', 'the', '', 'Superman', 'Comics', '', '']

##### Q Count the number of words present. (correctly for all cases)

In [40]:
Sentence = '  Lex   Luthor was a Villan  in the  Superman Comics  '
print('Original sentence: ', Sentence, 'length : ', len(Sentence), sep='\n')

# removes any extra spaces from the front and the back of the string
Sentence = Sentence.strip()

list_of_words = Sentence.split(' ')
new_sentence = ''

for i in list_of_words:
    if(i.isalnum()):
        new_sentence += ' '+i

new_sentence = new_sentence.lstrip()
print('\n'+'After processing the sentence: ', new_sentence, 'length: ',len(new_sentence), sep='\n')
print('\n'+'Total number of words: ',len(new_sentence.split(' ')))

Original sentence:
  Lex   Luthor was a Villan  in the  Superman Comics
length :
54

After processing the sentence:
Lex Luthor was a Villan in the Superman Comics
length:
46

Total number of words:  9

In [41]:
def word_preprocess(Sentence):
    Sentence = Sentence.strip()

    list_of_words = Sentence.split(' ')
    new_sentence = ''
    print()
    for i in list_of_words:
        if(i.isalnum()):
            new_sentence += i+' '

    new_sentence = new_sentence.rstrip()
    return new_sentence

def word_count(Sentence):
    print('Total number of words:',len(Sentence.split(' ')))
    
# user Input:
Sentence = input('Enter a sentence: ')
Processed_sentence = word_preprocess(Sentence)
word_count(Processed_sentence)

Enter a sentence:   Lex   Luthor was a Villan  in the  Superman Comics

Total number of words: 9

Homework Question:

1. Count the number of numbers present in a sentence, use userdefined functions and develop it in such way that it can take in any sentence as an input and gives you the correct result

In [ ]:
# type your code here

# 2. List

- Can have hetrogenious values
- It is mutable and iterable

In [46]:
List_of_number = [1,2,3,4,5]
print('The values in the list: ',List_of_number)
print('The values in the 2nd location: ',List_of_number[2])
print('index of number 2 in the list: ',List_of_number.index(5))

The values in the list:  [1, 2, 3, 4, 5]
The values in the 2nd location:  3
index of number 2 in the list:  4

In [47]:
Multi_character = ['name1','name2',120.34, 340]
print('Multi data type characters can be added to the List: ',Multi_character)

Multi data type characters can be added to the List:  ['name1', 'name2', 120.34, 340]

In [53]:
List_of_number = [1,2,3,4,5]
# List_of_number.append(6)
# print('The values in the list: ',List_of_number)
# print('index of 6 is : ',List_of_number.index(6))

#intentional error
List_of_number.append([7,8])
print('The values in the list: ',List_of_number)
# print('index of [7] :',List_of_number.index(7))
print('index of [7,8] :',List_of_number.index([7,8]))

The values in the list:  [1, 2, 3, 4, 5, [7, 8]]
index of [7,8] : 5

In [54]:
# the correct way
List_of_number = [1,2,3,4,5,6]
List_of_number.extend([7,8])
print('The values in the list: ',List_of_number)
print('index of [7] :',List_of_number.index(7))

The values in the list:  [1, 2, 3, 4, 5, 6, 7, 8]
index of [7] : 6

Nested lists:
                 ________ ________ ________
                |  1 , 2 |  3 , 4 |  5 , 6 |
                 ____ ___ ____ ___ ____ ___
 Sub-Indexes :     0   1    0   1    0   1
                 ________ ________ ________
 Indexed     :       0        1        2

In [56]:
# nested lists:
nested_list = [[1,2],[3,4],[5,6]]
print('Element(s) in the 1st location :',nested_list[1])
print('Element in the 1st location of the 1st location:',nested_list[1][1])

Element(s) in the 1st location : [3, 4]
Element in the 1st location of the 1st location: 4

In [57]:
# printing all the values in the list
nested_list = [[1,2],[3,4],[5,6]]
for i in range(len(nested_list)):  # 0,<len =10 -> 9
    for j in range(len(nested_list[i])):
        print(nested_list[i][j], end ='\t')

1	2	3	4	5	6

##### Q. Print all the 1st elements for all the items present in the nested list. 
- [[1,2],[3,4],[5,6]]

In [58]:
nested_list = [[1,2],[3,4],[5,6]]
for i in range(len(nested_list)):
        print(nested_list[i][1], end ='\t')

2	4	6

Home work Question:
Q Print all the 0th elements for all the items present in the nested list.
[[1,2],[3,4],[5,6]]

In [ ]:
# type your code here

In [63]:
# sorting the list:
numeric_list = [123, 5324, 123, 2, 5, 34, 634]

# the difficult way:
for i in range(len(numeric_list)-1): # len-1 -> 9 for -> 0 - 8; 8+1 = 9 
    for j in range(len(numeric_list)-1):
        if(numeric_list[j] > numeric_list[j+1]):
            temp = numeric_list[j]                 # temp -> 8, [j+1] -> 7
            numeric_list[j] = numeric_list[j+1]    # [j] -> [j+1] = 7 
            numeric_list[j+1] = temp               # [j+1] -> temp
            
print('Ascending order: ',numeric_list)

Ascending order:  [2, 5, 34, 123, 123, 634, 5324]

In [60]:
# the faster way:

numeric_list.sort()
print('Ascending order: ',numeric_list)

numeric_list.sort(reverse=True)
print('Descending order: ',numeric_list)

Ascending order:  [2, 5, 34, 123, 123, 634, 5324]
Descending order:  [5324, 634, 123, 123, 34, 5, 2]

# 3. Tuple

- Can have hetrogenious values
- It is immutable and iterable

In [64]:
numeric_tuple = (1,2,3,2)
alphanumeric_tuple = ('a', 'b', 1, 2)
print('Numeric Tuple: ', numeric_tuple)
print('AlphaNumeric Tuple: ', alphanumeric_tuple)

Numeric Tuple:  (1, 2, 3, 2)
AlphaNumeric Tuple:  ('a', 'b', 1, 2)

In [65]:
print('element in the 1st index : ',numeric_tuple[1])

element in the 1st index :  2

In [66]:
print('element in the 1st index : ',alphanumeric_tuple[1])

element in the 1st index :  b

In [68]:
# The only functions of tuple
print('Index of the the number 2: ',numeric_tuple.index(2))
print('Count of the number 2: ',numeric_tuple.count(2))

Index of the the number 2:  1
Count of the number 2:  2

In [70]:
# what makes it differnt from Lists:
# intentional error.

numeric_tuple[1] = 3
print('The 1st element in the tuple: ',numeric_tuple[1])

TypeError: 'tuple' object does not support item assignment

# 4. Dictinary

- it has a key value pair structure.

   | name_1  |  70   |
    --------- -------
   |   key   | value |

- the values are overwritten if there is a new value assigned to it. 
- it is iterable and mutable.

In [71]:
math_students = {'name_1':70,
                 'name_2':80,
                 'name_3':90}
print(math_students)

{'name_1': 70, 'name_2': 80, 'name_3': 90}

In [72]:
print('math marks of the student for name_1 :',math_students['name_1'])

math marks of the student for name_1 : 70

In [73]:
math_students['name_1'] = 75
print('math marks of the student for name_1 :',math_students['name_1'],end='\n\n')
print('all the student names present:', math_students.keys(),sep='\n', end='\n\n')

print('all the student marks present:', math_students.values(),sep='\n')

math marks of the student for name_1 : 75

all the student names present:
dict_keys(['name_1', 'name_2', 'name_3'])

all the student marks present:
dict_values([75, 80, 90])

In [74]:
print('all the items in the list: ', math_students, sep='\n', end='\n\n')
print('all the items in the list: ', math_students.items(), sep='\n', end='\n\n')

all the items in the list:
{'name_1': 75, 'name_2': 80, 'name_3': 90}

all the items in the list:
dict_items([('name_1', 75), ('name_2', 80), ('name_3', 90)])

In [75]:
#intentional error
for key, value in math_students:
    print(key,'\t',value)

ValueError: too many values to unpack (expected 2)

In [76]:
# solution
for key, value in math_students.items():
    print(key,'\t',value)

name_1 	 75
name_2 	 80
name_3 	 90

##### Q return the names of the students with marks grater than 75.

In [79]:
for key, value in math_students.items():
    if(value > 75):
        print(key)

name_2
name_3