# I. Data Types

There are mainly 4 data types in Python :

1. Integer (int)
2. Float (float)
3. String (str)
4. Boolean (bool)

### 1. Integer (int)

In [3]:
int_number = int(float(input('Enter a number :')))
print(int_number)
print('Belongs to the class: ',type(int_number))

Enter a number :123.23
123
Belongs to the class:  <class 'int'>

### 2. Float (float)

In [4]:
float_number = float(input('Enter a number :'))
print(float_number)
print('Belongs to the class: ',type(float_number))

Enter a number :123
123.0
Belongs to the class:  <class 'float'>

### 3. String (str)

- Input statements take the input in the string format by default
- typcasting it to str will not throw any errors but will increase the computational time.
- you can just take the the input normally without any typecasting.

In [6]:
str_name = input('Enter a name :')
print(str_name)
print('Belongs to the class: ',type(str_name))

Enter a name :Rishab
Rishab
Belongs to the class:  <class 'str'>

### 4. Boolean (bool)

- The value it returns is either True or False.
- 1 as True
- 0 as False

In [14]:
print('Test 1: ', bool(0))
print('Test 2: ', bool(12<1))

num = 12
print('Test 3: ', bool(num>1))

# for commenting you need to do Ctlr + /

Test 1:  False
Test 2:  False
Test 3:  True

# II. Arithmetic Operations

There are 7 arithmetic operators in Python :

1. Addition [ + ]
2. Subtraction [ - ]
3. Multiplication [ * ]
4. Division [ / ]
5. Modulus [ % ]
6. Exponentiation [ ** ]
7. Floor division [ // ]

### 1. Addition [ + ]

In [15]:
num_1 = 23
num_2 = 34

num_3 = num_1 + num_2
print('Final Output :',num_3)

Final Output : 57

In [17]:
# optimse
num_1, num_2 = 23, 34

# not a part of the code, it's just there to show the values assigned to num_1 and num_2
# print('num_1 :',num_1,'\n'+'num_2 :',num_2)

print('Final Output :',num_1 + num_2)

Final Output : 57

### 2. Subtraction [ - ]

In [18]:
# optimse
num_1, num_2 = 23, 34
print('Final Output :',num_1 - num_2)

Final Output : -11

### 3. Multiplication [ * ]

In [19]:
# optimse
num_1, num_2 = 23, 34
print('Final Output :',num_1 * num_2)

Final Output : 782

### 4. Division [ / ]

In [21]:
# optimse
num_1, num_2 = 23, 34
print('Final Output :',num_1 / num_2)

# formated outputs.
print('Final Output :{:.2f}'.format(num_1 / num_2))

Final Output : 0.6764705882352942
Final Output :0.68

### 5. Modulus [ % ]

In [22]:
# optimse
num_1, num_2 = 23, 10
print('After Division :{} \t After modulus {}'.format(num_1 / num_2, num_1 % num_2))

After Division :2.3 	 After modulus 3

### 6. Exponentiation [ ** ]

In [31]:
# optimse
num_1, num_2 = 4, 2
print('num_1 to the power num_2 : {}'.format(num_1 ** num_2))

num_1 to the power num_2 : 16

### 7. Floor division [ // ]

In [33]:
# optimse
num_1, num_2 = 23, 10
print('After Division :{} \t After floor divison {}'.format(num_1 / num_2, num_1 // num_2))

After Division :2.3 	 After floor divison 2

# III. Comparison Operators

##### The answer is always boolean (True or False)
- Equal equal to [==]
- Less than [<] 
- Greater than [>]
- Less than equal to [<=]
- Greater than equal to [>=]

In [43]:
num_1, num_2 = 10, 12
print('== check: ',num_1 == num_2)
print('<  check: ',num_1 < num_2)
print('>  check: ',num_1 > num_2)
print('<= check: ',num_1 <= num_2)
print('>= check: ',num_1 >= num_2)

>= check:  False

# IV. Assignment Operators

- Equal to[=]
- Division equal to[/=] 
- Floor division equal to[//=]
- Modulus equal to [%=] 
- Subtraction equal to[-=] 
- Addition equal to [+=] 
- Multiplication equal to[*=] 
- Exponentiation equal to[**=]

>Example : n = 2<br>
sum = n + 2 and sum += 2, mean the same thing

In [44]:
# Equal to[=]
n = 2
print("Value of n after '=' ",n)

Value of n after '='  2

In [47]:
# Division equal to[/=]
n=2
n /=9
print("Value of n after '/=' {:.2f}".format(n))

Value of n after '/=' 0.22

In [48]:
# Floor division equal to[//=]
n=21
n //=5
print("Value of n after '//=' ",n)

Value of n after '//='  4

In [49]:
# Modulus equal to [%=]
n=201
n %=10
print("Value of n after '%=' ",n)

Value of n after '%='  1

In [50]:
# Subtraction equal to[-=] 
n=201
n -= 200
print("Value of n after '-=' ",n)

Value of n after '-='  1

In [46]:
# Addition equal to [+=]
n=201
n += 200
print("Value of n after '+=' ",n)

Value of n after '+='  401

In [51]:
# Multiplication equal to[*=]
n=201
n *= 10
print("Value of n after '*=' ",n)

Value of n after '*='  2010

# V. Identity operators

- is 
- is not

In [52]:
# Example for is 
num_1 = 12
num_2 = 21
print(num_1 is num_2)

False

In [53]:
# Example for is not
print(num_1 is not num_2)

True

In [56]:
# intentional error:
print(12 is 21)

False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-56-ee4d06186e8e>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(12 is 21)

# VI. Membership operators

- in 
- not in

In [60]:
# Example for in
print(12 in [1,2,3,4])

False

In [58]:
# Example for not in
print(12 not in [1,2,3,4])

True

# VII. Logical operators

- For AND operator â€“ It returns TRUE if both the operands (right side and left side) are true [and]
- For OR operator- It returns TRUE if either of the operand (right side or left side) is true [or]
- For NOT operator- returns TRUE if operand is false [not]

In [64]:
# Example for AND
print("AND :", 1==1 and 2==2)
print("AND :", 1==0 and 2==2)
print("AND :", 1==1 and 2==0)
print("AND :", 1==0 and 2==0)

AND : True
AND : False
AND : False
AND : False

In [68]:
# Example for OR
print("OR :", 1==1 or 2==2)
print("OR :", 1==0 or 2==2)
print("OR :", 1==1 or 2==0)
print("OR :", 1==0 or 2==0)

OR : True
OR : True
OR : True
OR : False

In [69]:
# Example for NOT
print("NOT :", 1==1)
print("NOT :", not(1==1))
print("NOT :", 1==0)
print("NOT :", not(1==0))

NOT : True
NOT : False
NOT : False
NOT : True