## Variable Name Constraints

1. It has to start with a letter, it cant start with a number or a special character {' ', '#', '-'} 
> Example : <br>
var, Var [correct] <br>
1var, #var [wrong]

2. it can have number in the middle or at the end, the only special character that is allowed is the underscore '_'.
> Example:<br>
var_1, Var_1 [Correct]<br>
var#1, Var@1 [wrong]

# 1. Print Statement

In [9]:
# default parameters : end = '\n', sep = ' '
print('My name is {}'.format('Rishab'), end =' \t')
print('My name is {}'.format('Rishab'), 'My last name is {}'.format('Sarkar'), sep = '\t')

My name is Rishab
My last name is Sarkar

# 2. Conditional Statement

1. if statement
2. elif statement
3. else statement

In [12]:
temperature = 51
if (temperature <0):
    print("It's freezing, is this the North Pole")
elif temperature < 50: 
    print("It's hot but I have an AC, so it's cool")
else:
    print("It's so hot, it feels like I am on the sun")

It's so hot, it feels like I am on the sun

-100---------------- -1  0  1  2 ---------20  21  22 --------- 30  31  32  ------------- 50  51  52 ----------------- (50+)
        very cold                  cold                normal                   hot                      very hot

In [17]:
temperature = 10
if (temperature <0):
    print("It's freezing, is this the North Pole")
    
elif temperature >0 and temperature < 20:
    print("It's cold but I am warm in the quilt")
    
elif temperature >20 and temperature < 30:
    print("it's plesent outside, I'll go for a walk")
    
elif temperature >30 and temperature < 50:
    print("It's hot but I have an AC, so it's cool")
    
else:
    print("It's so hot, it feels like I am on the sun")

It's so hot, it feels like I am on the sun

In [18]:
temperature = -10
if (temperature <0):
    print("It's freezing, is this the North Pole")
if (temperature <0):
    print("It's freezing, is this the North Pole")

It's freezing, is this the North Pole
It's freezing, is this the North Pole

# 3. Looping Statement

1. Entry Controlled Loop
    - for loops
    - while loops
<br><br>
2. Exit Controlled Loop
    - do while loops

In [23]:
# for loops range(starting value, condition, iterating value)
# Q. print the first 10 number

for i in range(1,11,1): # start =1; < 10 ; +1
    print(i, end = '  ')

1  2  3  4  5  6  7  8  9  10

In [26]:
# while loop
# Q. print the number till the number is <10
i = 1
while(i<=10):
    print(i, end ='  ')
    i += 1 # i = i+1

1  2  3  4  5  6  7  8  9  10

In [32]:
# do while loop
# Q. print the number till the number is <10

i=1
while(True):
    print(i,end ='  ')
    
    if(i>10):
        break
        
    i += 1

1  2  3  4  5  6  7  8  9  10  11

Q. print the following pattern:

*
**
***
****
*****

In [33]:
# Legends' way of solving it.
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [ ]:
# How it should it be done:
for i in range(1,6):
    for j in range(1,i+1):
        print('*', end='')
    print()

Homework Question:

1. Print the following pattern

*****
****
***
**
*

In [ ]:
# type your code here

# 4. User Defined Functions

In [38]:
# function with no parameters:
display()
display()

def display():
    print('This is the display function')

This is the display function
This is the display function

In [45]:
# function with default parameter:
def sum_check(num_1, num_2):
    print(num_1+num_2)
    
sum_check(12, 13)

25

### Global Variable and Local Variable

In [48]:
num_1 = 2
def display():
    num_1 = 3
    print('Printing Inside the function Num_1 = ',num_1)

print('Printing Outside the function Num_1 = ',num_1)
display()
print('Printing Outside the function Num_1 = ',num_1)

Printing Outside the function Num_1 =  2
Printing Inside the function Num_1 =  3
Printing Outside the function Num_1 =  2

In [49]:
num_1 = 2
def display():
    global num_1
    num_1 = 3
    print('Local Variable num_1 value :',num_1)

print('Printing Outside the function Num_1 = ',num_1)
display()
print('Printing Outside the function Num_1 (2nd time)= ',num_1)

Printing Outside the function Num_1 =  2
Local Variable num_1 value : 3
Printing Outside the function Num_1 (2nd time)=  3

 ##### Q. find the max of 3 numbers

In [50]:
# the python basic way.

num_1, num_2, num_3 = 12, 23, 34

print('Maximum :',max(num_1, num_2, num_3))

Maximum : 34

In [52]:
num_1, num_2, num_3 = -12, -23, -34
maximum = 0

if(num_1>num_2 and num_1>num_3):
    maximum =num_1
elif(num_2>num_1 and num_2>num_3):
    maximum =num_2
elif(num_3>num_1 and num_3>num_2):
    maximum = num_3
    
print('Maximum :',maximum)

Maximum : -12

In [57]:
# obtimise

num_1, num_2, num_3 = 12, 23, 34
maximum = num_1

if(num_2>maximum):
    maximum =num_2
if(num_3>maximum):
    maximum = num_3
    
print('Maximum :',maximum)

Maximum : 34

In [58]:
def maximum(num_1, num_2, num3):
    maximum = num_1

    if(num_2>maximum):
        maximum =num_2
    if(num_3>maximum):
        maximum = num_3
    return maximum

num_1, num_2, num_3 = 12, 23, 34
value_returned_by_the_function = maximum(num_1, num_2, num_3)
print('Maximum :',value_returned_by_the_function)

Maximum : 34

Homework Question:

2. take 3 numbers as input from the user and make a user defined function to sum them up, if the sum is greater than or equal to 100, then print 'beyond century' and the total amount, else print 'we are yet not there' and the total amount.

In [ ]:
# type your code here

##### NOTE : The answer to the homework questions are in the PPT for Python, if you are facing difficulty to completing the codes, then refer to those, we are all learning here. If you could do it on your own, you should be proud of youself :)
<br>
<center>----------------  happy codding  ----------------</center>